<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='*' Name='Lua 5.2' Language='1033'
		Version='5.2.1.1' Manufacturer='Olivetti' UpgradeCode='61621B5E-32F3-4B7D-8FC9-5D70C55AC5BA' >
		<Package Description='Lua: a powerful, fast, lightweight, embeddable scripting language'
			Comments='This installer database contains the logic and data required to install Lua 5.2'
			Manufacturer='PUC' InstallerVersion='200' Compressed='yes' />
		<Media Id='1' Cabinet='lua52.cab' EmbedCab='yes' />
		<MajorUpgrade DowngradeErrorMessage="A later version of Lua is already installed. Setup will now exit." />
		<Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
			<Directory Id='ProgramFilesFolder' Name="[ApplicationFolderName]" >
				<Directory Id='APPLICATIONFOLDER' Name='Lua' />
			</Directory>
			<Directory Id="ProgramMenuFolder">
			    <Directory Id="ApplicationProgramsFolder" Name="Lua 5.2"/>
			</Directory>
		</Directory>
	    <Property Id="ApplicationFolderName" Value="Lua\5.2" />
	    <Property Id="ALLUSERS" Value="2" />
	    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
	    <UIRef Id="WixUI_Advanced" />
	    <Icon Id='HelpIcon' SourceFile='res/hlp.ico' />
	    <Icon Id='LuaIcon' SourceFile='res/lua.ico' />
	    <Property Id="ARPPRODUCTICON" Value="LuaIcon" />


		<DirectoryRef Id='APPLICATIONFOLDER'>
				<Component Id='lua52.exe' Guid='3CA59152-6D3B-48C4-9D1D-FE6F20B84F70' >
					<File Name='lua52.exe' Source='../bin/lua52.exe' Checksum='yes'/>
					<File Name='lua52.dll' Source='../bin/lua52.dll' Checksum='yes'/>
				</Component>
				<Component Id='readline.dll' Guid='15E38374-1D30-4797-A4AD-CE9FEF279A28' >
					<File Name='readline6.dll' Source='res/readline6.dll'  Checksum='yes'/>
					<File Name='lreadline.dll' Source='res/lreadline.dll'  Checksum='yes'/>
				</Component>
			<Directory Id='lua' Name='lua' FileSource='../lua'>
					<Component Id='lua.utils' Guid='A6D55CD0-A92F-4DFA-A9C0-D7B6298EE057' >
						<File Id='lua.utils.lua'   Name='utils.lua' Source='res/utils.lua' />
					</Component>
			</Directory>			
			<Directory Id='doc' Name='doc' FileSource='../doc'>
				<Directory Id='Lua5.2' Name='Lua5.2'>
					<Component Id='doc.lua52' Guid='EB7D6BA8-2E3F-4FB1-BB51-8D93A52E15F0' >
						<File Id='doc.lua.contents.html'   Name='contents.html' />
						<File Id='doc.lua.logo.gif'        Name='logo.gif' />
						<File Id='doc.lua.lua.css'         Name='lua.css' />
						<File Id='doc.lua.manual.css'      Name='manual.css' />
						<File Id='doc.lua.manual.html'     Name='manual.html' />						
						<File Id='doc.lua.osi.png'         Name='osi-certified-72x60.png' />						
					</Component>
				</Directory>
				<Directory Id='LuaFileSystem' Name='LuaFileSystem'>
					<Component Id='doc.LuaFileSystem' Guid='33DF296D-4731-475F-B01C-D7C7F41EA39D' >
						<File Id='doc.lfs.examples.html'       Name='examples.html' />
						<File Id='doc.lfs.index.html'          Name='index.html' />
						<File Id='doc.lfs.license.html'        Name='license.html' />
						<File Id='doc.lfs.luafilesystem.png'   Name='luafilesystem.png' />
						<File Id='doc.lfs.manual.html'         Name='manual.html' />
					</Component>
				</Directory>
				<Directory Id='LuaSQL' Name='LuaSQL'>
					<Component Id='doc.sql' Guid='53AFA8A7-D5E0-4F65-98A4-D8CCF568E34E'>
						<File Id='doc.sql.examples.html'    Name='examples.html' />
						<File Id='doc.sql.history.html'     Name='history.html' />
						<File Id='doc.sql.index.html'       Name='index.html'    />
						<File Id='doc.sql.license.html'     Name='license.html' />
						<File Id='doc.sql.luasql.png'       Name='luasql.png'   />
						<File Id='doc.sql.manual.html'      Name='manual.html'  />
					</Component>
				</Directory>
				<Directory Id='LuaSocket' Name='LuaSocket'>
					<Component Id='doc.socket' Guid='76006E0B-68AC-42AA-8B6B-40CA55A4DA52' >
						<File Id='doc.socket.dns.html'             Name='dns.html'           />
						<File Id='doc.socket.ftp.html'             Name='ftp.html'          />
						<File Id='doc.socket.http.html'            Name='http.html'          />
						<File Id='doc.socket.index.html'           Name='index.html'        />
						<File Id='doc.socket.installation.html'    Name='installation.html' />
						<File Id='doc.socket.introduction.html'    Name='introduction.html' />
						<File Id='doc.socket.ltn12.html'           Name='ltn12.html'        />
						<File Id='doc.socket.luasocket.png'        Name='luasocket.png'     />
						<File Id='doc.socket.mime.html'            Name='mime.html'         />
						<File Id='doc.socket.reference.css'        Name='reference.css'     />
						<File Id='doc.socket.reference.html'       Name='reference.html'    />
						<File Id='doc.socket.smtp.html'            Name='smtp.html'         />
						<File Id='doc.socket.socket.html'          Name='socket.html'       />
						<File Id='doc.socket.tcp.html'             Name='tcp.html'          />
						<File Id='doc.socket.udp.html'             Name='udp.html'         />
						<File Id='doc.socket.url.html'             Name='url.html'          />
					</Component>
				</Directory>

			</Directory>
		</DirectoryRef>

		<DirectoryRef Id="TARGETDIR">
			<Component Id='UpdatePath' Guid='D6710230-E962-41F3-B41A-25E8ACE2F2D4' >
				<Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='no' System='yes' Part='last' Value='[APPLICATIONFOLDER]' />
			</Component>
		  <Component Id="registry.lua" Guid="AD0C5631-33E5-427A-9B5D-2D4612AB0E5B">
		    <RegistryKey Root="HKCR" Key=".lua" Action="create">
		        <RegistryValue Type="string" Value="Lua.Script.run"/>
		    </RegistryKey>
		    <RegistryKey Root="HKCR" Key="Lua.Script.run\shell\open\command" Action="create">
		        <RegistryValue Type="string" Value="&quot;[APPLICATIONFOLDER]lua52.exe&quot; -i &quot;%1&quot;"/>
		    </RegistryKey>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
		    <Component Id="ApplicationShortcut" Guid="46D3256C-04B1-4891-A796-6F65A839E088">
		        <Shortcut Id="ApplicationStartMenuShortcut" 
		                  Name="Lua 5.2"
		                  Description="a powerful, fast, lightweight, embeddable scripting language"
		                  Target="[APPLICATIONFOLDER]lua52.exe"
		                  Icon='LuaIcon'/>
				    <Shortcut Id="UninstallProduct"             
				          Name="Uninstall Lua 5.2"
				          Target="[SystemFolder]msiexec.exe"
				          Arguments="/x [ProductCode]"
				          Description="Uninstalls Lua 5.2" />		                  
		        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed" Name="core" Type="integer" Value="1" KeyPath="yes"/>
		    </Component>
		    <Component Id="shortcut.readline" Guid="7C8CA172-19FB-4A4F-AE48-381B4C214B45">
		        <Shortcut Id="shortcut.readline.lua" 
		                  Name="Lua 5.2 with completion"
		                  Description="Lua with Readline based completion"
		                  Target="[APPLICATIONFOLDER]lua52.exe" Arguments=' -l lreadline -l utils -e "lreadline.cmd()"'
		                  Icon='LuaIcon'/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed" Name="completion" Type="integer" Value="1" KeyPath="yes"/>
		    </Component>
				<Directory Id='shortcut.doc' Name='Documentation'>
		    	<Component Id="shortcut.doc.lua52" Guid="F97C8305-402A-4971-95E7-F4B3E20316D2">
		        <Shortcut Id="shortcut.doc.lua52" Name="Lua 5.2"
	                  Description="Official documentation of Lua 5.2 from Lua.org"
	                  Target="[Lua5.2]contents.html" Icon='HelpIcon'/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="core" Type="integer" Value="1" KeyPath="yes"/>
		        <RemoveFolder Id="shortcut.doc.lua52" On="uninstall"/>
		    	</Component>
		    	<Component Id="shortcut.doc.lfs" Guid="67A80655-47C2-4330-9BC2-0106BEA01290">
		        <Shortcut Id="shortcut.doc.lfs" Name="LuaFileSystem"
	                  Description="Documentation of Kepler's LuaFileSystem (lfs) module"
	                  Target="[LuaFileSystem]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.lfs" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="lfs" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.socket" Guid="BF12E055-DE0B-448F-8D79-7CF19D59D68F">
		        <Shortcut Id="shortcut.doc.socket" Name="LuaSocket"
	                  Description="Documentation of LuaSocket networking module"
	                  Target="[LuaSocket]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.socket" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="socket" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.sql" Guid="856E4582-AB95-411F-B613-277C2876B847">
		        <Shortcut Id="shortcut.doc.sql" Name="LuaSQL"
	                  Description="Documentation of LuaSQL and ODBC module"
	                  Target="[LuaSQL]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.sql" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="sql" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    </Directory>
		</DirectoryRef>
		
		<Feature Id='Binaries' Title='Binaries' Level='1'>
			<Feature Id='core' Title='Main executable' Level='1'>			
				<ComponentRef Id='lua52.exe' />
				<ComponentRef Id='doc.lua52' />
				<ComponentRef Id='shortcut.doc.lua52' />
			</Feature>
			<Feature Id='readline.dll' Title='History and completion support' Level='1'>			
				<ComponentRef Id='readline.dll' />
				<ComponentRef Id='lua.utils' />
				<ComponentRef Id='shortcut.readline' />
			</Feature>
			<Feature Id='socket' Title='LuaSocket' Level='1'>			
				<ComponentRef Id='doc.socket' />
				<ComponentRef Id='shortcut.doc.socket' />
			</Feature>
			<Feature Id='sql' Title='LuaSQL' Level='1'>			
				<ComponentRef Id='doc.sql' />
				<ComponentRef Id='shortcut.doc.sql' />
			</Feature>
			<Feature Id='UpdatePath' Title='Add Lua 5.2 to PATH' Level='1'>			
				<ComponentRef Id='UpdatePath' />
			</Feature>
		</Feature>
		<Feature Id='Documentation' Title='Documentation' Level='1'>						
			<ComponentRef Id='doc.LuaFileSystem' />
			<ComponentRef Id='shortcut.doc.lfs' />
		</Feature>
		<Feature Id='RegistryEntries' Title='Registers known extensions' Level='1'>						
			<Feature Id='registry.lua' Title='.lua (Lua scripts)' Level='1'>						
				<ComponentRef Id='registry.lua' />
			</Feature>				
		</Feature>
		<Feature Id='Shortcut' Title='Shortcut in Startup menu' Level='1'>						
			<ComponentRef Id='ApplicationShortcut' />
		</Feature>
	</Product>
</Wix>
