<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='*' Name='Lua 5.2' Language='1033'
		Version='5.2.1.1' Manufacturer='Olivetti' UpgradeCode='61621B5E-32F3-4B7D-8FC9-5D70C55AC5BA' >
		<Package Description='Lua: a powerful, fast, lightweight, embeddable scripting language'
			Comments='This installer database contains the logic and data required to install Lua 5.2'
			Manufacturer='PUC' InstallerVersion='200' Compressed='yes' />
		<Media Id='1' Cabinet='lua52.cab' EmbedCab='yes' />
		<MajorUpgrade DowngradeErrorMessage="A later version of Lua is already installed. Setup will now exit." />
		<Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
			<Directory Id='ProgramFilesFolder' Name="[ApplicationFolderName]" >
				<Directory Id='APPLICATIONFOLDER' Name='Lua' />
			</Directory>
			<Directory Id="ProgramMenuFolder">
			    <Directory Id="ApplicationProgramsFolder" Name="Lua 5.2"/>
			</Directory>
		</Directory>
	    <Property Id="ApplicationFolderName" Value="Lua\5.2" />
	    <Property Id="ALLUSERS" Value="2" />
	    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
	    <UIRef Id="WixUI_Advanced" />
	    <Icon Id='HelpIcon' SourceFile='res/hlp.ico' />
	    <Icon Id='LuaIcon' SourceFile='res/lua.ico' />
	    <Property Id="ARPPRODUCTICON" Value="LuaIcon" />


		<DirectoryRef Id='APPLICATIONFOLDER' FileSource='../lib'>
			<Component Id='bin.lua52' Guid='3CA59152-6D3B-48C4-9D1D-FE6F20B84F70' >
				<File Name='lua52.exe' Source='../bin/lua52.exe' Checksum='yes'/>
				<File Name='lua52.dll' Source='../bin/lua52.dll' Checksum='yes'/>
			</Component>
			<Component Id='bin.readline' Guid='15E38374-1D30-4797-A4AD-CE9FEF279A28' >
				<File Name='readline6.dll' Source='res/readline6.dll'  Checksum='yes'/>
				<File Name='lreadline.dll' Source='res/lreadline.dll'  Checksum='yes'/>
			</Component>
			<Component Id='bin.lpeg' Guid='58D966C2-15FA-4FFC-A03A-F4B29C6DCC9A' >
				<File Name='lpeg.dll' Checksum='yes'/>
			</Component>
			<Component Id='bin.lfs' Guid='FB82E722-7FFA-4C18-9B36-6457BBCEBA33' >
				<File Name='lfs.dll' Checksum='yes'/>
			</Component>
			<Component Id='bin.sqlite3' Guid='19EA74F1-4533-47B6-8542-1B5068EEF7A2' >
				<File Name='lsqlite3.dll' Checksum='yes'/>
			</Component>
			<Directory Id='socket' Name='socket' FileSource='../lib/socket'>
				<Component Id='bin.socket' Guid='2A866673-89EE-4EAE-A399-FD0FC37841B7' >
					<File Id='bin.socket.core.dll' Name='core.dll' Checksum='yes'/>
				</Component>
			</Directory>			
			<Directory Id='mime' Name='mime' FileSource='../lib/mime'>
				<Component Id='bin.mime' Guid='7AAF505B-7F3F-4477-AE1D-DDEBBA3FEF5A' >
					<File Id='bin.mime.core.dll' Name='core.dll' Checksum='yes'/>
				</Component>
			</Directory>			
			<Directory Id='luasql' Name='luasql' FileSource='../lib/luasql'>
				<Component Id='bin.sql' Guid='EEDA30FD-5E58-4686-8613-6EA8CE9B494C' >
					<File Id='bin.luasql.odbc.dll' Name='odbc.dll' Checksum='yes'/>
				</Component>
			</Directory>			
			<Directory Id='lua' Name='lua' FileSource='../lua'>
				<Component Id='lua.readline' Guid='A6D55CD0-A92F-4DFA-A9C0-D7B6298EE057' >
					<File Id='lua.utils.lua' Name='utils.lua' Source='res/utils.lua' />
				</Component>
				<Component Id='lua.socket.main' Guid='AA1E0509-4868-4C6B-A6DB-164CCCDC951E' >
 					<File Id='lua.socket.lua' Name='socket.lua' />
 					<File Id='lua.ltn12.lua'  Name='ltn12.lua'  />
 					<File Id='lua.mime.lua'   Name='mime.lua'   />
 				</Component>
				<Directory Id='lua.socket' Name='socket' FileSource='../lua/socket'>
					<Component Id='lua.socket.dir' Guid='D7E57C08-077D-4A33-9580-28D3121308AE' >
  					<File Id='lua.socket.ftp.lua'  Name='ftp.lua' />
  					<File Id='lua.socket.http.lua' Name='http.lua' />
  					<File Id='lua.socket.smtp.lua' Name='smtp.lua' />
  					<File Id='lua.socket.tp.lua'   Name='tp.lua' />
  					<File Id='lua.socket.url.lua'  Name='url.lua' />
					</Component>
  	    </Directory>			
				<Component Id='lua.lpeg' Guid='624B3534-4DD4-4AA8-BED1-51E343018A2F' >
					<File Id='lua.re.lua' Name='re.lua' />
				</Component>
			</Directory>			
			<Directory Id='doc' Name='doc' FileSource='../doc'>
				<Directory Id='doc.lua52' Name='Lua5.2'>
					<Component Id='doc.lua52' Guid='EB7D6BA8-2E3F-4FB1-BB51-8D93A52E15F0' >
						<File Id='doc.lua.contents.html'   Name='contents.html' />
						<File Id='doc.lua.logo.gif'        Name='logo.gif' />
						<File Id='doc.lua.lua.css'         Name='lua.css' />
						<File Id='doc.lua.manual.css'      Name='manual.css' />
						<File Id='doc.lua.manual.html'     Name='manual.html' />						
						<File Id='doc.lua.osi.png'         Name='osi-certified-72x60.png' />						
					</Component>
				</Directory>
				<Directory Id='LuaFileSystem' Name='LuaFileSystem'>
					<Component Id='doc.lfs' Guid='33DF296D-4731-475F-B01C-D7C7F41EA39D' >
						<File Id='doc.lfs.examples.html'       Name='examples.html' />
						<File Id='doc.lfs.index.html'          Name='index.html' />
						<File Id='doc.lfs.license.html'        Name='license.html' />
						<File Id='doc.lfs.luafilesystem.png'   Name='luafilesystem.png' />
						<File Id='doc.lfs.manual.html'         Name='manual.html' />
					</Component>
				</Directory>
				<Directory Id='doc.sql' Name='LuaSQL'>
					<Component Id='doc.sql' Guid='53AFA8A7-D5E0-4F65-98A4-D8CCF568E34E'>
						<File Id='doc.sql.examples.html'    Name='examples.html' />
						<File Id='doc.sql.history.html'     Name='history.html' />
						<File Id='doc.sql.index.html'       Name='index.html'    />
						<File Id='doc.sql.license.html'     Name='license.html' />
						<File Id='doc.sql.luasql.png'       Name='luasql.png'   />
						<File Id='doc.sql.manual.html'      Name='manual.html'  />
					</Component>
				</Directory>
				<Directory Id='LuaSocket' Name='LuaSocket'>
					<Component Id='doc.socket' Guid='76006E0B-68AC-42AA-8B6B-40CA55A4DA52' >
						<File Id='doc.socket.dns.html'             Name='dns.html'           />
						<File Id='doc.socket.ftp.html'             Name='ftp.html'          />
						<File Id='doc.socket.http.html'            Name='http.html'          />
						<File Id='doc.socket.index.html'           Name='index.html'        />
						<File Id='doc.socket.installation.html'    Name='installation.html' />
						<File Id='doc.socket.introduction.html'    Name='introduction.html' />
						<File Id='doc.socket.ltn12.html'           Name='ltn12.html'        />
						<File Id='doc.socket.luasocket.png'        Name='luasocket.png'     />
						<File Id='doc.socket.mime.html'            Name='mime.html'         />
						<File Id='doc.socket.reference.css'        Name='reference.css'     />
						<File Id='doc.socket.reference.html'       Name='reference.html'    />
						<File Id='doc.socket.smtp.html'            Name='smtp.html'         />
						<File Id='doc.socket.socket.html'          Name='socket.html'       />
						<File Id='doc.socket.tcp.html'             Name='tcp.html'          />
						<File Id='doc.socket.udp.html'             Name='udp.html'         />
						<File Id='doc.socket.url.html'             Name='url.html'          />
					</Component>
				</Directory>
				<Directory Id='doc.sqlite3' Name='Sqlite3'>
					<Component Id='doc.sqlite3' Guid='00F15C6E-50F9-4B1A-BAD2-FB676F944112'>
						<File Id='doc.sqlite3.lsqlite3.html'    Name='lsqlite3.html' />
					</Component>
				</Directory>
				<Directory Id='doc.lpeg' Name='LPeg'>
					<Component Id='doc.lpeg' Guid='A5DFF046-D800-436A-889C-4934A3CECC36'>
						<File Id='doc.lpeg.lpeg128.gif' Name='lpeg-128.gif' />
						<File Id='doc.lpeg.lpeg.html'    Name='lpeg.html' />
						<File Id='doc.lpeg.re.html'      Name='re.html' />
					</Component>
				</Directory>

			</Directory>
		</DirectoryRef>

		<DirectoryRef Id="TARGETDIR">
			<Component Id='UpdatePath' Guid='D6710230-E962-41F3-B41A-25E8ACE2F2D4' >
				<Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='no' System='yes' Part='last' Value='[APPLICATIONFOLDER]' />
			</Component>
		  <Component Id="registry.lua" Guid="AD0C5631-33E5-427A-9B5D-2D4612AB0E5B">
		    <RegistryKey Root="HKCR" Key=".lua" Action="create">
		        <RegistryValue Type="string" Value="Lua.Script.run"/>
		    </RegistryKey>
		    <RegistryKey Root="HKCR" Key="Lua.Script.run\shell\open\command" Action="create">
		        <RegistryValue Type="string" Value="&quot;[APPLICATIONFOLDER]lua52.exe&quot; -i &quot;%1&quot;"/>
		    </RegistryKey>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
		    <Component Id="shortcut.lua52" Guid="46D3256C-04B1-4891-A796-6F65A839E088">
		        <Shortcut Id="ApplicationStartMenuShortcut" 
		                  Name="Lua 5.2"
		                  Description="a powerful, fast, lightweight, embeddable scripting language"
		                  Target="[APPLICATIONFOLDER]lua52.exe"
		                  Icon='LuaIcon'/>
				    <Shortcut Id="UninstallProduct"             
				          Name="Uninstall Lua 5.2"
				          Target="[SystemFolder]msiexec.exe"
				          Arguments="/x [ProductCode]"
				          Description="Uninstalls Lua 5.2" />		                  
		        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed" Name="core" Type="integer" Value="1" KeyPath="yes"/>
		    </Component>
		    <Component Id="shortcut.readline" Guid="7C8CA172-19FB-4A4F-AE48-381B4C214B45">
		        <Shortcut Id="shortcut.readline.lua" 
		                  Name="Lua 5.2 with completion"
		                  Description="Lua with Readline based completion"
		                  Target="[APPLICATIONFOLDER]lua52.exe" Arguments=' -l lreadline -l utils -e "lreadline.cmd()"'
		                  Icon='LuaIcon'/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed" Name="completion" Type="integer" Value="1" KeyPath="yes"/>
		    </Component>
				<Directory Id='shortcut.doc' Name='Documentation'>
		    	<Component Id="shortcut.doc.lua52" Guid="F97C8305-402A-4971-95E7-F4B3E20316D2">
		        <Shortcut Id="shortcut.doc.lua52" Name="Lua 5.2"
	                  Description="Official documentation of Lua 5.2 from Lua.org"
	                  Target="[doc.lua52]contents.html" Icon='HelpIcon'/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="core" Type="integer" Value="1" KeyPath="yes"/>
		        <RemoveFolder Id="shortcut.doc.lua52" On="uninstall"/>
		    	</Component>
		    	<Component Id="shortcut.doc.lfs" Guid="67A80655-47C2-4330-9BC2-0106BEA01290">
		        <Shortcut Id="shortcut.doc.lfs" Name="LuaFileSystem"
	                  Description="Documentation of Kepler's LuaFileSystem (lfs) module"
	                  Target="[LuaFileSystem]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.lfs" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="lfs" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.socket" Guid="BF12E055-DE0B-448F-8D79-7CF19D59D68F">
		        <Shortcut Id="shortcut.doc.socket" Name="LuaSocket"
	                  Description="Documentation of LuaSocket networking module"
	                  Target="[LuaSocket]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.socket" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="socket" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.sql" Guid="856E4582-AB95-411F-B613-277C2876B847">
		        <Shortcut Id="shortcut.doc.sql" Name="LuaSQL"
	                  Description="Documentation of LuaSQL and ODBC module"
	                  Target="[doc.sql]index.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.sql" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="sql" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.sqlite3" Guid="CD74CD69-09E4-456D-9C2F-B1E9CAE66C55">
		        <Shortcut Id="shortcut.doc.sqlite3" Name="LuaSQLite 3"
	                  Description="Documentation of SQLite3 binding for Lua"
	                  Target="[doc.sqlite3]lsqlite3.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.sqlite3" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="sqlite3" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    	<Component Id="shortcut.doc.lpeg" Guid="D024FEA8-AEC7-4257-AAD9-CC1A969F784C">
		        <Shortcut Id="shortcut.doc.lpeg" Name="LPeg"
	                  Description="Documentation for Parsing Expression Grammars"
	                  Target="[doc.lpeg]lpeg.html" Icon='HelpIcon'/>
		        <RemoveFolder Id="shortcut.doc.lpeg" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Lua\Lua 5.2\installed\documentation" Name="lpeg" Type="integer" Value="1" KeyPath="yes"/>
		    	</Component>
		    </Directory>
		</DirectoryRef>
		
		<Feature Id='core' Title='Core features' Level='1'>
			<Feature Id='lua52' Title='Lua 5.2' Level='1'>			
				<ComponentRef Id='bin.lua52' />
				<ComponentRef Id='doc.lua52' />
				<ComponentRef Id='shortcut.doc.lua52' />
				<ComponentRef Id='shortcut.lua52' />
			</Feature>
			<Feature Id='UpdatePath' Title='Add Lua 5.2 to PATH' Level='1'>			
				<ComponentRef Id='UpdatePath' />
			</Feature>
			<Feature Id='registry.lua' Title='Register .lua extension with Lua 5.2' Level='1'>						
        <ComponentRef Id='registry.lua' />
		  </Feature>				
  </Feature>
		<Feature Id='modules' Title='Additional modules' Level='1'>
			<Feature Id='readline' Title='History and completion support' Level='1'>			
				<ComponentRef Id='bin.readline' />
				<ComponentRef Id='lua.readline' />
				<ComponentRef Id='shortcut.readline' />
			</Feature>
  		<Feature Id='lfs' Title='LuaFileSystem' Level='1'>						
  			<ComponentRef Id='bin.lfs' />
  			<ComponentRef Id='doc.lfs' />
  			<ComponentRef Id='shortcut.doc.lfs' />
  		</Feature>
			<Feature Id='socket' Title='LuaSocket' Level='1'>			
				<ComponentRef Id='bin.socket' />
				<ComponentRef Id='bin.mime' />
				<ComponentRef Id='lua.socket.main' />
				<ComponentRef Id='lua.socket.dir' />
				<ComponentRef Id='doc.socket' />
				<ComponentRef Id='shortcut.doc.socket' />
			</Feature>
			<Feature Id='sql' Title='LuaSQL' Level='1'>			
				<ComponentRef Id='bin.sql' />
				<ComponentRef Id='doc.sql' />
				<ComponentRef Id='shortcut.doc.sql' />
			</Feature>
			<Feature Id='sqlite3' Title='LuaSQLite 3' Level='1'>			
				<ComponentRef Id='bin.sqlite3' />
				<ComponentRef Id='doc.sqlite3' />
				<ComponentRef Id='shortcut.doc.sqlite3' />
			</Feature>
  		<Feature Id='lpeg' Title='LPeg' Level='1'>						
  			<ComponentRef Id='bin.lpeg' />
  			<ComponentRef Id='lua.lpeg' />
  			<ComponentRef Id='doc.lpeg' />
  			<ComponentRef Id='shortcut.doc.lpeg' />
  		</Feature>
		</Feature>
	</Product>
</Wix>
